<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>decorationLog</title>
    <link rel="stylesheet" href="../css/log-details.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
    <script type="text/javascript" src="../js/Log-details.js"></script>
  </head>
  <body>
    <!-- 页面部分 -->
    <div class="page">

      <!-- 固定头部 -->
      <iframe src="" width="100%" height="0" frameborder="0" scrolling="no" ></iframe>
      <!-- 工地日志详情 -->
        <div class="pageDetails">
          <div class="content">
            <div class="leftside">
              <!-- 工地名称 -->
              <div class="siteName">美式乡村~原木风格追求自然</div>
              <!-- 工地信息 -->
              <div class="site-information">
                <p>
                  <img src="../img/construct2.png" alt="施工图标">&nbsp;施工进度 :
                  <a href="javascript:void(0)">施工完成</a>
                </p>
                <p>
                  <img src="../img/construct3.png" alt="施工图标">&nbsp;施工时间 :
                  <a href="javascript:void(0)">2017.03.03</a>
                </p>
                <p>
                  <img src="../img/construct4.png" alt="施工图标">&nbsp;施工位置 :
                  <a href="javascript:void(0)">保利香槟光华小区-三居-100㎡-地中海</a>
                </p>
                <p>
                  <img src="../img/construct1.png" alt="施工图标">&nbsp;施工单位 :
                  <a href="javascript:void(0)">武汉大方装饰</a>
                </p>
              </div>
            </div>
            <!-- 工地二维码 -->
            <div class="construct-code">
              <a href="javascript:void(0)">
                <img src="../img/construct-code.png" alt="工地二维码">
              </a>
            </div>
          </div>
        </div>

        <!-- 装修日记和参与工地所有角色 -->
        <div class="cont">
          <!-- 装修日记 -->
          <div class="decoration-diary">
            <!-- 装修日记头部 -->
            <div class="nav">
              <p>装修日记</p>
            </div>

            <!-- 装修动态1 -->
            <div class="decoration-trends">
              <!-- 发布人头像 -->
              <div class="publisher-image">
                <a href="javascript:void(0)">
                  <img src="../img/poster-photo1.png" alt="发布人头像">
                </a>
              </div>
              <!-- 发布的内容 -->
              <div class="publisher-cont">
                <div class="top">
                  <!-- 发布人名字 -->
                  <div class="publisher-name"><a href="javascript:void(0)">北海好110</a></div>
                  <!-- 施工进度 -->
                  <div class="construction-schedule">
                    <img src="../img/complete-work.png" alt="施工进度">施工完成
                  </div>
                </div>
                <!-- 发布动态内容 -->
                <p class="dynamic-content"><a href="javascript:void(0)">网购了一个小沙发，依旧是女儿喜欢的紫色。很不错，这几天还在收拾东西，搬家进入倒计时。老家的房子明天房本就可以拿出来过户了。一切都在计划内进行着……</a></p>
                <!-- 发布动态图片 -->
                <div class="dynamic-photo">
                  <ul>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures1.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures5.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures6.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures7.png" alt="动态图片"></a></li>
                  </ul>
                </div>
                <!-- 发布动态时间 -->
                <div class="publish-time">
                  <a href="javascript:void(0)" class="leftside">2017年05月28日</a>
                  <a href="javascript:void(0)" class="rightside collapse" ><img src="../img/share.png" alt="分享"></a>
                </div>
                <!-- 分享图标 -->
                <div class="share open">
                  <img src="../img/share-frame.png" alt="分享框">
                  <img src="../img/WeChat.png" class="WeChat" alt="微信">
                  <img src="../img/weibo.png" class="weibo" alt="微博">
                  <img src="../img/space.png" class="space" alt="空间">
                </div>
              </div>
            </div>

            <!-- 装修动态 2-->
            <div class="decoration-trends">
              <!-- 发布人头像 -->
              <div class="publisher-image">
                <a href="javascript:void(0)">
                  <img src="../img/poster-photo2.png" alt="发布人头像">
                </a>
              </div>
              <!-- 发布的内容 -->
              <div class="publisher-cont">
                <div class="top">
                  <!-- 发布人名字 -->
                  <div class="publisher-name"><a href="javascript:void(0)">Dolly </a></div>
                  <!-- 施工进度 -->
                  <div class="construction-schedule">
                    <img src="../img/complete-work.png" alt="施工进度">施工完成
                  </div>
                </div>
                <!-- 发布动态内容 -->
                <p class="dynamic-content"><a href="javascript:void(0)">5月28日，收快递，组装卡座 各种买买买的快递陆陆续续到了，收到手软。今天和熊蛋先生一起把餐厅的卡座组装好了，好有成就感！花了半个晚上的成果，感觉能吹一辈子。临时把颜色改成白色，证明我的判断还不...</a></p>
                <!-- 发布动态图片 -->
                <div class="dynamic-photo">
                  <ul>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures2.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures4.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures8.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures3.png" alt="动态图片"></a></li>
                  </ul>
                </div>
                <!-- 发布动态时间 -->
                <div class="publish-time">
                  <a href="javascript:void(0)" class="leftside">2017年05月28日</a>
                  <a href="javascript:void(0)" class="rightside collapse" ><img src="../img/share.png" alt="分享"></a>
                </div>
                <!-- 分享图标 -->
                <div class="share open" >
                  <img src="../img/share-frame.png" alt="分享框">
                  <img src="../img/WeChat.png" class="WeChat" alt="微信">
                  <img src="../img/weibo.png" class="weibo" alt="微博">
                  <img src="../img/space.png" class="space" alt="空间">
                </div>
              </div>
            </div>

            <!-- 装修动态3 -->
            <div class="decoration-trends">
              <!-- 发布人头像 -->
              <div class="publisher-image">
                <a href="javascript:void(0)">
                  <img src="../img/poster-photo3.png" alt="发布人头像">
                </a>
              </div>
              <!-- 发布的内容 -->
              <div class="publisher-cont">
                <div class="top">
                  <!-- 发布人名字 -->
                  <div class="publisher-name"><a href="javascript:void(0)">宇萌_3152 </a></div>
                  <!-- 施工进度 -->
                  <div class="construction-schedule">
                    <img src="../img/complete-work.png" alt="施工进度">施工完成
                  </div>
                </div>
                <!-- 发布动态内容 -->
                <p class="dynamic-content"><a href="javascript:void(0)">老公性子急，昨天买回灯，就让师傅把灯安上了，着急看成果，不过真实效果比图片好看好几倍，真心喜欢啊但是今天悲剧了，今天装门，满屋尘土飞扬，灯上落了一层土，早知就等两天再装灯了小飞机是网购，果然质...</a></p>
                <!-- 发布动态图片 -->
                <div class="dynamic-photo">
                  <ul>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures9.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures10.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures11.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures12.png" alt="动态图片"></a></li>
                  </ul>
                </div>
                <!-- 发布动态时间 -->
                <div class="publish-time">
                  <a href="javascript:void(0)" class="leftside">2017年05月28日</a>
                  <a href="javascript:void(0)" class="rightside collapse" ><img src="../img/share.png" alt="分享"></a>
                </div>
                <!-- 分享图标 -->
                <div class="share open">
                  <img src="../img/share-frame.png" alt="分享框">
                  <img src="../img/WeChat.png" class="WeChat" alt="微信">
                  <img src="../img/weibo.png" class="weibo" alt="微博">
                  <img src="../img/space.png" class="space" alt="空间">
                </div>
              </div>
            </div>

            <!-- 装修动态4 -->
            <div class="decoration-trends">
              <!-- 发布人头像 -->
              <div class="publisher-image">
                <a href="javascript:void(0)">
                  <img src="../img/poster-photo4.png" alt="发布人头像">
                </a>
              </div>
              <!-- 发布的内容 -->
              <div class="publisher-cont">
                <div class="top">
                  <!-- 发布人名字 -->
                  <div class="publisher-name"><a href="javascript:void(0)">sophia</a></div>
                  <!-- 施工进度 -->
                  <div class="construction-schedule">
                    <img src="../img/complete-work.png" alt="施工进度">施工完成
                  </div>
                </div>
                <!-- 发布动态内容 -->
                <p class="dynamic-content"><a href="javascript:void(0)">家具慢慢入场啦，床，沙发，餐桌，学习桌，窗帘，都各就各位啦。等宝贝幼儿园毕业，暑假的时候就要搬过来住咯</a></p>
                <!-- 发布动态图片 -->
                <div class="dynamic-photo">
                  <ul>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures13.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures14.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures16.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures15.png" alt="动态图片"></a></li>
                  </ul>
                </div>
                <!-- 发布动态时间 -->
                <div class="publish-time">
                  <a href="javascript:void(0)" class="leftside">2017年05月28日</a>
                  <a href="javascript:void(0)" class="rightside collapse" ><img src="../img/share.png" alt="分享"></a>
                </div>
                <!-- 分享图标 -->
                <div class="share open">
                  <img src="../img/share-frame.png" alt="分享框">
                  <img src="../img/WeChat.png" class="WeChat" alt="微信">
                  <img src="../img/weibo.png" class="weibo" alt="微博">
                  <img src="../img/space.png" class="space" alt="空间">
                </div>
              </div>
            </div>

            <!-- 装修动态 5-->
            <div class="decoration-trends">
              <!-- 发布人头像 -->
              <div class="publisher-image">
                <a href="javascript:void(0)">
                  <img src="../img/poster-photo5.png" alt="发布人头像">
                </a>
              </div>
              <!-- 发布的内容 -->
              <div class="publisher-cont">
                <div class="top">
                  <!-- 发布人名字 -->
                  <div class="publisher-name"><a href="javascript:void(0)">兔兔兔兔兔 </a></div>
                  <!-- 施工进度 -->
                  <div class="construction-schedule">
                    <img src="../img/complete-work.png" alt="施工进度">施工完成
                  </div>
                </div>
                <!-- 发布动态内容 -->
                <p class="dynamic-content"><a href="javascript:void(0)">【71】 放一些还未毕业的学生照，哈哈。虽然还未毕业，但是已经入住了，也入手了给龙猫宝宝住的笼子。 另外前几天隔壁叫物业的人过来，说是隔壁客厅（靠着我们的卫生间）的墙面渗水发霉了（靠底部一...</a></p>
                <!-- 发布动态图片 -->
                <div class="dynamic-photo">
                  <ul>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures17.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures18.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures19.png" alt="动态图片"></a></li>
                    <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures20.png" alt="动态图片"></a></li>
                  </ul>
                </div>
                <!-- 发布动态时间 -->
                <div class="publish-time">
                  <a href="javascript:void(0)" class="leftside">2017年05月28日</a>
                  <a href="javascript:void(0)" class="rightside collapse" ><img src="../img/share.png" alt="分享"></a>
                </div>
                <!-- 分享图标 -->
                <div class="share open">
                  <img src="../img/share-frame.png" alt="分享框">
                  <img src="../img/WeChat.png" class="WeChat" alt="微信">
                  <img src="../img/weibo.png" class="weibo" alt="微博">
                  <img src="../img/space.png" class="space" alt="空间">
                </div>
              </div>
            </div>

            <div class="white"></div>
            <!-- 加载更多 -->
            <div class="moreLoad">
              <input type="text" value="加载跟多">
            </div>
          </div>

          <!-- 右侧页面 -->
          <!-- 预约工地 -->
          <div class="reservation-site">
            <p>预约看工地</p>
          </div>
          <!-- 预约姓名电话表单 -->
          <form action="">
            <div>
              <input type="text" value="姓名">
              <img src="../img/name.png" alt="姓名">
            </div>
            <div>
              <input type="text" value="电话">
              <img src="../img/phone.png" alt="电话">
            </div>

            <input type="button" value="立即预约">
          </form>
          <!-- 装修公司 -->
          <div class="decoration-company">
            <div class="company">装修公司</div>
            <div class="logo">
              <img src="../img/company-logo.png" alt="logo">
            </div>
            <div class="name">武汉皇氏装饰设计工程有限公司</div>
          </div>
          <!-- 设计师 -->
          <div class="designer">
            <div class="name">设计师</div>
            <div class="image">
              <img src="../img/designer.png" alt="image">
            </div>
            <div class="fullName">李佳蓉</div>
            <div class="like">擅长：欧式  新中式  现...</div>
          </div>
          <!-- 材料商 -->
          <div class="Material-company">
            <div class="company">材料商</div>
            <div class="logo">
              <img src="../img/Material-company.png" alt="logo">
            </div>
            <div class="name">湖北力欧复源石装饰材料有限公司</div>
          </div>
          <!-- 工程监理 -->
          <div class="supervisor-company">
            <div class="company">工程监理</div>
            <div class="logo">
              <img src="../img/supervisor-company.png" alt="logo">
            </div>
            <div class="name">武汉无忧居装饰工程监理有限公司</div>
          </div>

        </div>





      <!-- 固定尾部 -->
       <iframe src="" width="100%" height="0;" frameborder="0" scrolling="no"></iframe>
    </div>



  </body>
</html>
