<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>decorationLog</title>
    <link rel="stylesheet" href="../css/decorationLog1.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>
  <body>
    <!-- 页面部分 -->
    <div class="page">

      <!-- 固定头部 -->
      <iframe src="" width="100%" height="0" frameborder="0" scrolling="no" marginheight="0"></iframe>

      <!-- 所有日志 -->
      <div class="allDaily">
        <!-- 工地日志1 -->
        <div class="buildingSite-daily">
          <!-- 日志内容 -->
          <div class="dailyContent">
            <!-- 日志标题和工程进度 -->
            <div class="dailyTop">
              <a class="dailyTitle" href="javascript:void(0)">靠谱女青年的简约混搭三居室</a>
              <span><i class="iconfont">&#xe61a;</i><a href="javascript:void(0)">施工完成</a></span>
            </div>
            <!-- 工地最新动态 -->
            <p><a href="javascript:void(0)">网购了一个小沙发，依旧是女儿喜欢的紫色。很不错，这几天还在收拾东西，搬家进入倒计时。老家的房子明天房本就可以拿出来过户了。一切都在计划内进行着……</a></p>
            <!-- 工地最新动态配图 -->
            <div class="dynamic-pictures">
              <ul>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
              </ul>
            </div>
            <!-- 动态发布人和发布时间 -->
            <div class="dynamic-issue">
              <p class="author">
                <a href="javascript:void(0)"><i class="iconfont">&#xe60f;</i>哇哈哈哈哈哈</a>
              </p>
              <p class="datetime">
                <a href="javascript:void(0)"><i class="iconfont">&#xe6ac;</i>2017-05-20 &nbsp; 16:06</a>
              </p>
            </div>
          </div>
        </div>

        <!-- 工地日志2 -->
        <div class="buildingSite-daily">
          <!-- 日志内容 -->
          <div class="dailyContent">
            <!-- 日志标题和工程进度 -->
            <div class="dailyTop">
              <a class="dailyTitle" href="javascript:void(0)">靠谱女青年的简约混搭三居室</a>
              <span><i class="iconfont">&#xe61a;</i><a href="javascript:void(0)">施工完成</a></span>
            </div>
            <!-- 工地最新动态 -->
            <p><a href="javascript:void(0)">网购了一个小沙发，依旧是女儿喜欢的紫色。很不错，这几天还在收拾东西，搬家进入倒计时。老家的房子明天房本就可以拿出来过户了。一切都在计划内进行着……</a></p>
            <!-- 工地最新动态配图 -->
            <div class="dynamic-pictures">
              <ul>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
              </ul>
            </div>
            <!-- 动态发布人和发布时间 -->
            <div class="dynamic-issue">
              <p class="author">
                <a href="javascript:void(0)"><i class="iconfont">&#xe60f;</i>哇哈哈哈哈哈</a>
              </p>
              <p class="datetime">
                <a href="javascript:void(0)"><i class="iconfont">&#xe6ac;</i>2017-05-20 &nbsp; 16:06</a>
              </p>
            </div>
          </div>
        </div>

        <!-- 工地日志3 -->
        <div class="buildingSite-daily">
          <!-- 日志内容 -->
          <div class="dailyContent">
            <!-- 日志标题和工程进度 -->
            <div class="dailyTop">
              <a class="dailyTitle" href="javascript:void(0)">靠谱女青年的简约混搭三居室</a>
              <span><i class="iconfont">&#xe61a;</i><a href="javascript:void(0)">施工完成</a></span>
            </div>
            <!-- 工地最新动态 -->
            <p><a href="javascript:void(0)">网购了一个小沙发，依旧是女儿喜欢的紫色。很不错，这几天还在收拾东西，搬家进入倒计时。老家的房子明天房本就可以拿出来过户了。一切都在计划内进行着……</a></p>
            <!-- 工地最新动态配图 -->
            <div class="dynamic-pictures">
              <ul>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
                <li><a href="javascript:void(0)"><img src="../img/dynamic-pictures.gif" alt="三居室"></a></li>
              </ul>
            </div>
            <!-- 动态发布人和发布时间 -->
            <div class="dynamic-issue">
              <p class="author">
                <a href="javascript:void(0)"><i class="iconfont">&#xe60f;</i>哇哈哈哈哈哈</a>
              </p>
              <p class="datetime">
                <a href="javascript:void(0)"><i class="iconfont">&#xe6ac;</i>2017-05-20 &nbsp; 16:06</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- 右侧广告位 -->
      <div class="advert">广告位</div>
      <!-- 分页 -->
      <div class="pagination">
        <div>
          <a href="javascript:void(0)" class="pre"> <<上一页 </a>
          <a href="javascript:void(0)">1</a><a href="javascript:void(0)">2</a><a href="javascript:void(0)">3</a><a href="javascript:void(0)" class="point">···</a>
          <a href="javascript:void(0)" class="next"> 下一页>> </a> &nbsp; 共5页，去第 &nbsp;
          <input type="text"> &nbsp; 页 &nbsp;
          <input type="button"  value="确定">
        </div>
      </div>

      <!-- 固定尾部1 -->
       <iframe src="" width="100%" height="0;" frameborder="0" scrolling="no"></iframe>
    </div>

  </body>
</html>
