<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>decorationLog</title>
    <link rel="stylesheet" href="../css/decorationLog2.css">
    <link rel="stylesheet" href="../css/normalize.css">
  </head>
  <body>
    <!-- 页面部分 -->
    <div class="page">

      <!-- 固定头部 -->
      <iframe src="" width="100%" height="0" frameborder="0" scrolling="no"></iframe>
      <!-- 在建工地 -->
      <div class="buildingSite">
        <div class="title"><p>在建工地</p></div>
      <!-- 在建工地封面和工地名称 -->
        <ul>
          <li>
            <div></div>
            <p>
              <a href="javascript:void(0)">万通信心家园</a>
            </p>
          </li>
          <li>
            <div></div>
            <p>
              <a href="javascript:void(0)">万通信心家园</a>
            </p>
          </li>
          <li>
            <div></div>
            <p>
              <a href="javascript:void(0)">万通信心家园</a>
            </p>
          </li>
          <li>
            <div></div>
            <p>
              <a href="javascript:void(0)">万通信心家园</a>
            </p>
          </li>
          <li>
            <div></div>
            <p>
              <a href="javascript:void(0)">万通信心家园</a>
            </p>
          </li>
          <li>
            <div></div>
            <p>
              <a href="javascript:void(0)">万通信心家园</a>
            </p>
          </li>
        </ul>
      </div>

      <!-- 固定尾部 -->
       <iframe src="" width="100%" height="0;" frameborder="0" scrolling="no"></iframe>
    </div>

  </body>
</html>
